body{
    color: black;
    background-color: green;
    margin: 0;
    font-family: sans-serif;
}
.col {
    float: left;
    text-align: center;
    width: 30%;
    padding: 1em;
}
.border {
    border-top: black 10px solid;
    border-bottom: black 10px solid;
}
h1,h2{
    font-size: 40px;
}





